<div class = container >
<h1>My List Of Superpower</h1>

<% @superpowers.each do |superpower|%>
<%= superpower.name %>
<%= superpower.category %>
<% end %>
</div>

<%= link_to "create a new superpower", new_superpower_path, class: "btn btn-primary" %>
