<div class = container >
  <h1>My List Of Superpower</h1>

   <div class="cards-power">
        <% @superpowers.each do |superpower| %>
           <%= link_to superpower_path(superpower) do %>
            <div class="card-power" style= "background-image: url('<%= cl_image_tag superpower.photo.key, crop: :fill %>')">

              <%= superpower.name %>
            </div>
          <% end %>
         <% end %>
    </div>
</div>

<%= link_to "create a new superpower", new_superpower_path, class: "btn btn-primary" %>
