<h1>My new superpower</h1>

<h1><%= @superpower.name %></h1>
<h1><%= @superpower.category %></h1>
<h2><%= @superpower.price %></h2>

<%= link_to "Booking this superpower", new_superpower_booking_path(@superpower), class: 'btn btn-primary'%>
