/* I rent my power stylesheet */

#new_superpower {
  width: 300px; /* Ajouter un point-virgule à la fin */
  margin-left: 50px; /* Correction: utiliser un point-virgule au lieu d'une virgule */
}

.custom-form {
  max-width: 500px; /* Largeur maximale du formulaire */
  margin: 0 auto; /* Centrer le formulaire sur la page */
  margin-left: 50px; /* Ajouter une marge de 50px à gauche */
}

.custom-input {
  width: calc(80% - 40px); /* Conserver la largeur à 100% moins 40px de marges sur les côtés */
  margin: 20px 20px 10px; /* Ajouter des unités de mesure à la propriété margin */
}
