.card-superpower {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-position: center;
  height: 450px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(150, 147, 147, 0.2);
  object-fit: cover;
}
