
<div class="text-center">
<h1><u><strong>SuperpowerBnb</strong></u></h1>
<p>Choose your side and your superpower thanks to our heroes at your disposal!</p>
</div>
<div class="container-cards">
  <h2><u><strong>Choose your universe:</strong></u></h2>
  <div class="cards-category">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/4594322.jpg)" >
      Marvel
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.looper.com/img/gallery/why-what-just-happened-to-dc-universe-is-so-exciting/l-intro-1600458433.jpg)">
      DC Comics
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.nichesites.pikoya.com/wwgdb_com/images/games/15123/gallery/47590.jpg)">
      Disney
    </div>
  </div>
  <h2><u><strong>Some powers you can pick:</strong></u></h2>
    <div class="cards-power">

        <% @superpowers.take(6).each do |superpower| %>
          <%= link_to superpower_path(superpower) do %>
           <div class="card-power" style="background-image: url('<%= superpower.img_url %>')">
             <%= superpower.name %>
          </div>
         <% end %>
        <% end %>

    </div>
  </div>
</div>
