
<div class="text-center">
<h1>SuperpowerBnB</h1>
<p>Choose your side and your superpower thanks to our superheroes and supervillains at your disposal!</p>
</div>
<div class="container-cards">
  <h2><u><strong>Choose your universe:</strong></u></h2>
  <div class="cards-category">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/4594322.jpg)" >
      Marvel
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.looper.com/img/gallery/why-what-just-happened-to-dc-universe-is-so-exciting/l-intro-1600458433.jpg)">
      DC Comics
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.nichesites.pikoya.com/wwgdb_com/images/games/15123/gallery/47590.jpg)">
      Disney
    </div>
  </div>
  <h2><u><strong>Some powers you can pick:</strong></u></h2>
    <div class="cards-power">
    <div class="card-power" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://getwallpapers.com/wallpaper/full/d/9/d/824786-popular-batman-dark-knight-wallpaper-1080x1920-for-ios.jpg)" >
      Batman
    </div>

    <div class="card-power" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapercave.com/wp/wp2987310.jpg)">
      Wonderwoman
    </div>

    <div class="card-power" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hdwallpaper.nu/wp-content/uploads/2018/12/spiderman-6.jpg">
      Spiderman
    </div>
        <div class="card-power" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallsdesk.com/wp-content/uploads/2016/12/Thor-Wallpaper.jpg)" >
      Thor
    </div>
      <div class="card-power" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapercave.com/wp/wp6926447.jpg)">
        Superman
      </div>
    <div class="card-power" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://c4.wallpaperflare.com/wallpaper/131/278/444/animation-elastigirl-helen-parr-incredibles-2-wallpaper-preview.jpg">
      Elastigirl
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
