.btn-gradient {
  background: transparent; /* Fond transparent */
  border: 2px solid red; /* Bordure rouge */
  color: red; /* Couleur du texte rouge */
  border-radius: 25px; /* Bord arrondi du bouton */
  width: 200px; /* Largeur fixe des boutons */
  text-align: center; /* Centrer le texte dans le bouton */
}

.btn-gradient:hover {
  background: red; /* Fond rouge au survol */
  color: white; /* Couleur du texte blanc au survol */
}
