.btn-gradient {
    color: white;
    text-align: center;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background-color: red;
    transition: 0.3s ease;
    border: 1px solid red;
  }
